:root {
    --bkgd-color: #1a2028;
    --card-color: #252e3a;
    --side-bkgd:  #457b9d;
    --side-color: #1a2028;
    --socl-color: #1a2028;
    --head-color: #457b9d;
    --font-color: #dddddd;
    --mpop-color: #ca2c92;
    --spop-color: #9ddcff;
    --slct-color: #ffffff;
    --toc-bkgd:   #457b9d;
    --toc-color:  #dddddd;
} 

[data-theme="light"] {
    --bkgd-color: #eee;
    --card-color: #fff;
    --side-bkgd:  #3e4855;
    --side-color: rgb(52, 198, 160);
    --socl-color: rgb(52, 198, 160);
    --head-color: #373d81;
    --font-color: #3e4855;
    --mpop-color: #ff685d;
    --spop-color: #6258ff;
    --slct-color: rgb(52, 198, 160);
    --toc-bkgd:   rgb(52, 198, 160);
    --toc-color:  #3e4855;
}