:root {
    --bkgd-color: #1a2028;
    --side-color: #457b9d;
    --left-font:  #1a2028;
    --socl-color: #1a2028;
    --head-color: #457b9d;
    --font-color: #dddddd;
    --mpop-color: #ca2c92;
    --blkq-color: #9ddcff;
    --slct-color: #ffffff;
    --code-color: #c7254e;
}


[data-theme="light"] {
    --bkgd-color: #fff;
    --side-color: #3e4855;
    --left-font:  #5ED4B6;
    --socl-color: #5ED4B6;
    --head-color: #3e4855;
    --font-color: #3e4855;
    --mpop-color: #ff685d;
    --blkq-color: #6258ff;
    --slct-color: #5ED4B6;
    --code-color: #ff685d;
}