:root {
    --bkgd-color: #1a2028;
    --side-bkgd:  #457b9d;
    --side-color: #1a2028;
    --socl-color: #1a2028;
    --head-color: #457b9d;
    --font-color: #dddddd;
    --mpop-color: #ca2c92;
    --spop-color: #9ddcff;
    --slct-color: #ffffff;
    --toc-bkgd:   #457b9d;
    --toc-color:  #dddddd;
}

[data-theme="light"] {
    --bkgd-color: #fff;
    --side-bkgd:  #3e4855;
    --side-color: #5ED4B6;
    --socl-color: #5ED4B6;
    --head-color: #373d81;
    --font-color: #3e4855;
    --mpop-color: #ff685d;
    --spop-color: #5ED4B6; /*#6258ff*/
    --slct-color: #5ED4B6;
    --toc-bkgd:   #5ED4B6;
    --toc-color:  #3e4855;
}