/* Main Container */
div#notebook {
  overflow: auto;
}

#notebook-container {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 0 20px;
}

html, body {
  padding: 0;
  left: 280px;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-height: 410px) {
  .social {
    display: none;  
  }
}

@media only screen and (max-width: 850px) {
  html, body {
    left: 0;
  }
  .leftpanel {
    display: none;
  }
  #quote {
    display: none;  
  }
  .social {
    display: none;  
  }
  #blog:hover {
    display: none;  
  }
  #objective:hover {
    display: none;  
  }
  li#menutab .rightbar {
    display: none;
  }  
}