/* Main Container */
div#notebook {
  overflow-x: scroll;
}

#notebook-container {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px 0 20px;
}

html, body {
  padding: 0;
  left: 280px;
}

div.cell {
    margin-top: 1rem; /* */
    border-radius: 20px !important; 
}

div.text_cell_render {
    background: #1a2028 !important;
    background-color: #1a2028 !important;
}

div.cell.text_cell.rendered .prompt {
  background-color: #1a2028 !important;
  border-right: none !important;
  border-left: 4px solid rgba(0,156,209,.5) !important;
}

div.cell.code_cell .input_prompt {
  border-radius: 5px;
}

div.cell.code_cell .input {
  border-left: 0 !important;
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-height: 410px) {
  .social {
    display: none;  
  }
}

@media only screen and (max-width: 850px) {
  html, body {
    left: 0;
  }
  #notebook-container {
    margin: 3rem 0 0 0;
  }
  .leftpanel {
    display: none;
  }
  #quote {
    display: none;  
  }
  .social {
    display: none;  
  }
  #blog:hover {
    display: none;  
  }
  #objective:hover {
    display: none;  
  }
  li#menutab .rightbar {
    display: none;
  }  
}
