/* ****************
   General settings
******************* */
html {
	height: 100%;
        min-width: 1080px;
}

h1, h2 {
	font: normal 175% 'franklin gothic book', 'segoe ui', sans-serif;
	display: block;
	color: rgb(51,91,116);
	font-size: 2em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	font-weight: bolder
}

h2 {
	font-size: 1.5em 
}

body {
	font: normal .78em 'gill sans', sans-serif;
}

p {
	padding: 8px 0;
	line-height: 1.7em;
}

/* ***************************
   Small scrollbar
   Note: This is not supported 
   by Firefox or IE and Edge
****************************** */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51,91,116); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* ********
   Header
 ******** */
.page-header {
	margin-left: 170px;
	height: 160px;
	font: normal 175% 'franklin gothic book', 'segoe ui', sans-serif;
	color: #000000;
	text-align: center;
	overflow: hidden;
}

.page-header h1 {
	margin-left: 370px;
	float: left;
}

/* *************
   Head Banner
************** */
* {box-sizing: border-box}

.image {
  display: block;
}

#banner1 {
	float: left;
	position: absolute;
	left: 178px;
}

#banner1 img {
	width: 160px;
	height: 160px;
}

#banner2 {
	float: left;
	position: relative;
	left: 160px;
	z-index: 1;
	-webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#banner2 img {
	width: 700px;
	height: 160px;
}

#banner2underlay {
	float: left;
	position: absolute;
	left: 338px;
	right: 8px;
	z-index: -1;
}

#banner2underlay img {
	width: 100%;
	height: 160px;
}

.overlay {
  position: absolute; 
  top: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  color: white;
  font-size: 20px;
  padding: 16px;
  text-align: left;
  z-index: 1;
}

/* *****************
   Horizontal Menu
****************** */
#menubar {
	height: 38px;
	padding: 8px 0 0 0;
	margin: -38px 0 0 0;
	position: relative;
	z-index: 1;
	float: right;
	overflow: hidden;
}

ul#menu {
	float: right;
	margin: 0;
}

ul#menu li {
	float: left;
	margin: 5px 0 0 0;
	padding: 0 0 0 6px;
	list-style: none;
}

ul#menu li a {
	letter-spacing: 0em;
	font: normal 105%;
	text-transform: uppercase;
	display: block;
	float: left;
	height: 20px;
	text-decoration: none;
	padding: 9px 22px 5px 16px;
	text-align: center;
	color: white;
	border: 0;
}

ul#menu li.selected a {
	height: 25px;
	color: #111;
	padding: 7px 22px 5px 16px;
}

ul#menu li.selected {
	margin: 7px 0 0 0;
	background: white;
}

ul#menu li a:hover {
	color: #777;
}



/* **************
   Main Content 
 ************** */
#site_content {
	width: 90%;
	overflow: visible;
}

/* **********
   Side bar 
 ********** */
.leftbar {
    height: 100%;
    width: 165px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	background-color: rgb(51,91,116);
	padding-top: 8px;
}

.leftbar h3 {
	text-align: center;
	color: rgb(38,38,38);
	padding-right: 5px;
}

.leftbar a {
	list-style: none;
	color: rgb(51,91,116);
	padding: 10px 0 0 8px;
	line-height: 1.6;
}

#leftbar img {
	width: 152px;
	height: 17px;
}

.leftbar a:hover {
	padding: 15px 45px;
}

.leftbar a.selected {
	text-decoration: none;
}


/* **************
   Body Content
*************** */
#content {
	margin-left: 170px;
}

/* *****************
   Table of Contents
******************** */
#TOC {
	border-radius: 4px;
	padding: 15px;
	background: rgb(64,115,174);
	background-clip: padding-box;
	width: 400px;
	line-height: 1.75em;
	border-style: solid;
	border-color: rgb(51,91,116);
}

a {
	color: rgb(38,38,38); 
}

a:link {
	text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


/* ********
   Photos
********* */
#wb {
	height: 90px;
	width: 130px;
	left: 45%;
	position: relative;
}

#oecd {
	height: 120px;
	width: 150px;
	left: 45%;
	position: relative;
}

#gwu {
	height: 140px;
	width: 170px;
	border-radius: 20px;
	left: 45%;
	position: relative;
	display: block;
}

#bio {
	height: 160px;
	width: 160px;
	border-radius: 20px;
	left: 45%;
	position: relative;
}


/* *********
   Buttons
 ********* */
div.hidden {
	display: none;
}

div.visible {
	display: block;
}

.chartbtn {
	background-color: rgb(51,91,116);
	position: absolute;
	right: 8px;
	border: none; 
	outline: none; 
	color: white; 
	cursor: pointer; 
	padding: 16px; 
	font-size: 16px; 
	z-index: 1;
}

.chartbtn:hover {
	background-color: #555;
}

#top {
	background-color: rgb(165, 0, 33); 
	position: absolute;
	right: 8px;
	border: none; 
	outline: none; 
	color: white; 
	cursor: pointer; 
	padding: 16px; 
	border-radius: 10px; 
	font-size: 16px; 
	z-index: 1;
}

#top:hover {
	background-color: #555;
}
